<section class="services-section">
    <div class="container">
     <div class="text-center"> <h2 style="font-weight: bold;color:rgb(249, 70, 38) ;">Our Services</h2></div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-image">
              <img src="../../../assets/images/serv6.gif" alt="Service Image" width="100px" height="100px">
            </div>
            <div class="service-details">
              <h3>Service Title</h3>
              <p>Service Description</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-image">
              <img src="../../../assets/images/serv5.gif" alt="Service Image" width="100px" height="100px">
            </div>
            <div class="service-details">
              <h3>Service Title</h3>
              <p>Service Description</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-image">
              <img src="../../../assets/images/serv4.gif" alt="Service Image" width="100px" height="100px">
            </div>
            <div class="service-details">
              <h3>Service Title</h3>
              <p>Service Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  